.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* header */

nav {
  display: flex;
  justify-content:  space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(255, 74, 0);
  color: white;
}

h1{
  text-align: center;
}

.nav-link{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #1999;
}

/* Product */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33.3%;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 5%;
}


.card-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
}

.img{
  height: 100%;
  width: 100%;
}

.img2{
  image-rendering: pixelated;
}

.button{
  background-color: rgb(48, 200, 255);
}

.program-item {
  background-color: #fff;
  box-shadow: 0 3px 10px 0 rgb(0 0 0/6%)!important;
  border-radius: 6px!important;
  padding: 18px;
  font-size: 17px;
  font-weight: 700;
  color: rgba(0,0,0,.54);
}

.container-item1{
  background: linear-gradient(to bottom, #fcfbfa, #ffffff);
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}